body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px; 
    color:#444;
    padding: 0 10px;
    font-family: Georgia;
}

h1,h2,h3 {
    line-height: 1.2;
}

a {
    color: #07a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #8a4b9a;
}

img {
    max-width: 100%;
}

@media screen and (min-width: 650px) {
    .menu > ul, header > ul, .header > ul, #header > ul {
        columns: 3; 
        list-style-type: none;
    }
}
